<app-header></app-header>
<app-cover-photo [relatingId]="userId" [relatedId]="userId"></app-cover-photo>
<div class="theme-layout">
  <section>
    <div class="gap gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <app-edit></app-edit>
                  <app-shortcut></app-shortcut>
                </aside>
              </div>
              <div class="col-lg-6">
                <div class="central-meta">
                  <div class="editing-info">
                    <h5 class="f-title"><i class="ti-lock"></i>Thay đổi mật khẩu</h5>
                    <div class="form-group">
                      <input type="password" id="input" required="required" [(ngModel)]="currentPassword"
                             (ngModelChange)="checkPassword()"/>
                      <label class="control-label" for="input">Mật khẩu hiện tại</label><i class="mtrl-select"></i>
                    </div>
                    <form *ngIf="continue" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                      <div class="form-group">
                        <input type="password" formControlName="newPassword" id="newPassword"/>
                        <label class="control-label" for="newPassword">Mật khẩu mới</label><i class="mtrl-select"></i>
                        <div *ngIf="f.newPassword.touched && f.newPassword.invalid" class="alert alert-danger">
                          <div *ngIf="f.newPassword.errors.required">Hãy nhập mật khẩu mới!</div>
                          <div *ngIf="f.newPassword.errors.minlength">Mật khẩu phải có ít nhất 6 ký tự!</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="password" formControlName="confirmPassword" id="confirmPassword"
                               pattern="{{ f.newPassword.value }}"/>
                        <label class="control-label" for="input">Xác nhận lại mật khẩu</label><i
                        class="mtrl-select"></i>
                        <div *ngIf="f.newPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
                          <div *ngIf="f.confirmPassword.errors.required">Hãy nhập lại mật khẩu!</div>
                          <div *ngIf="f.confirmPassword.errors.pattern">Mật khẩu xác nhận không đúng!
                          </div>
                        </div>
                      </div>
                      <div class="submit-btns">
                        <button type="submit" class="mtr-btn" [disabled]="!changePasswordForm.valid">
                          <span>Thay đổi</span>
                        </button>
                        <button type="button" class="mtr-btn ml-1" routerLink="/home"><span>Thoát</span></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <aside class="sidebar static">
                  <!--                  <app-your-page></app-your-page>-->
                  <!--                  <app-friend-list></app-friend-list>-->
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
